<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý người dùng</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link
          href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
          rel="stylesheet"
      >
    <link rel="stylesheet" href="fontawesome-free-6.5.1-web/fontawesome-free-6.5.1-web/css/all.min.css">
    <link rel="stylesheet" href="css/admin/style-admin.css">
    <link rel="stylesheet" href="css/admin/admin-style-trangchu.css">
    <link rel="stylesheet" href="css/admin/admin-table_user.css">
    <link rel="stylesheet" href="css/admin/pagination-style-admin.css">
    <link rel="stylesheet" href="css/admin/modal-add-user.css">
    <link rel="stylesheet" href="css/admin/form-style.css">
    
    
    
</head>
<body>

    <div class="main-content-right">
        <div class="content-2">
            <div class="header-wrapper">
                <div class="header-title">
                    <h2>Danh sách tài khoản</h2>
                </div>
                <!-- <div class="breadcrumb">
                    <ul class="breadcrumb_list">
                      <li class="li-1"><a href='#'>Danh sách văn bản</a></li>
                      <li><a href=''>Quản lý khoa</a></li>
                    </ul>
                  </div> -->
            </div>

            <div class="card-container">
                <div class="main-table">
                    <div class="table">
                        <div class="table_header">
                                    <button type="button" id="open_modal_addUser" class="add_new">
                                        + Thêm tài khoản
                                    </button>
                                
                                    <!--Modal start-->
                                    <div class="modal-container-addUser" id="modal-container-addUser">
                                        <div class="modal-addUser">
                                            <div class="modal-header-addUser">
                                                <h2>Thêm tài khoản</h2>
                                                <i class="fa fa-close" id="close-icon-addUser"></i>
                                            </div>
                                            <div class="modal-content-addUser">
                                                <div class="admin-add-form">
                                                    <form action="" method="post">
                                                        <input type="text" name="" placeholder="Nhập tên đăng nhập" class="box">
                                                        <input type="password" name="" placeholder="Nhập mật khẩu" class="box">
                                                        <input type="email" name="" placeholder="Nhập email" class="box">
                                                        
                                                        <select class="box">
                                                            <option value="">--Vai trò--</option>
                                                            <option value="">Quản trị viên</option>
                                                            <option value="">Người dùng</option>
                                                        </select>
                                                    
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="modal-footer-addUser">
                                                <button type="submit" class="btn-confirm-addUser" id="confirm_modal_addUser">Xác nhận</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Modal end-->        
                        </div>
                        <div class="table-section">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Số thứ tự</th>
                                        <th>Họ Tên</th>
                                        <th>Email</th>
                                        <th>Vai trò</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Huỳnh Khang</td>
                                        <td>htkhuong2101499@gmail.com</td>
                                        <td>Quản trị viên</td>
                                        <td>
                                            <button type="button" id="open_modal"><a href=""></a><i class="fa-solid fa-pen-to-square"></i></button>
                                            <button><i class="fa-solid fa-trash"></i></button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>1</td>
                                        <td>Huỳnh Phan</td>
                                        <td>htkhuong2101499@gmail.com</td>
                                        <td>Người dùng</td>
                                        <td>
                                            <button type="button" id="open_modal"><a href=""></a><i class="fa-solid fa-pen-to-square"></i></button>
                                            <button><i class="fa-solid fa-trash"></i></button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>1</td>
                                        <td>Huỳnh Khang</td>
                                        <td>htkhuong2101499@gmail.com</td>
                                        <td>Quản trị viên</td>
                                        <td>
                                            <button type="button" id="open_modal"><a href=""></a><i class="fa-solid fa-pen-to-square"></i></button>
                                            <button><i class="fa-solid fa-trash"></i></button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>1</td>
                                        <td>Huỳnh Khang</td>
                                        <td>htkhuong2101499@gmail.com</td>
                                        <td>Quản trị viên</td>
                                        <td>
                                            <button type="button" id="open_modal"><a href=""></a><i class="fa-solid fa-pen-to-square"></i></button>
                                            <button><i class="fa-solid fa-trash"></i></button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>1</td>
                                        <td>Huỳnh Khang</td>
                                        <td>htkhuong2101499@gmail.com</td>
                                        <td>Quản trị viên</td>
                                        <td>
                                            <button type="button" id="open_modal"><a href=""></a><i class="fa-solid fa-pen-to-square"></i></button>
                                            <button><i class="fa-solid fa-trash"></i></button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>1</td>
                                        <td>Huỳnh Khang</td>
                                        <td>htkhuong2101499@gmail.com</td>
                                        <td>Quản trị viên</td>
                                        <td>
                                            <button type="button" id="open_modal"><a href=""></a><i class="fa-solid fa-pen-to-square"></i></button>
                                            <button><i class="fa-solid fa-trash"></i></button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>1</td>
                                        <td>Huỳnh Khang</td>
                                        <td>htkhuong2101499@gmail.com</td>
                                        <td>Quản trị viên</td>
                                        <td>
                                            <button type="button" id="open_modal"><a href=""></a><i class="fa-solid fa-pen-to-square"></i></button>
                                            <button><i class="fa-solid fa-trash"></i></button>
                                        </td>
                                    </tr>

                                    
                                </tbody>
                                
                            </table>
                        </div>
                        <div class="Pagination">
                            <button class="btn1" onclick="backBtn()"> <img src="img/448-arrow.png" alt=""> Trước</button>
                            <ul class="pagination-ul">
                                <li class="link active" value="1" onclick="activeLink()">1</li>
                                <li class="link" value="2" onclick="activeLink()">2</li>
                                <li class="link" value="3" onclick="activeLink()">3</li>
                                <li class="link" value="4" onclick="activeLink()">4</li>
                                <li class="link" value="5" onclick="activeLink()">5</li>
                                <li class="link" value="6" onclick="activeLink()">6</li>
                            </ul>
                            <button class="btn2" onclick="nextBtn()">Sau <img src="img/448-arrow.png" alt=""></button>
                        </div>  
                    </div>     
                </div>
            </div> 
        </div>
    </div>

    

    <nav>
        <div class="sidebar-top">
            <a href="admin_layout.html" class="logo__wrapper">
            <img src="img/logo_school_2.png" alt="Logo" class="logo">
            <h1 class="hide">Trang quản lý</h1>
            </a>
            <!-- <div class="expand-btn">
            <img src="img/chevron.svg" alt="Chevron">
            </div> -->
        </div>
        <div class="sidebar-links">
            <ul>
                <li>
                <a href="admin_layout.html" title="Dashboard" class="tooltip">
                    <i class="fa-solid fa-house"></i>
                    <span class="link hide">Trang chủ</span>
                    <!-- <span class="tooltip__content">Dashboard</span> -->
                </a>
                </li>
                <li>
                <a href="admin-deparment-doc.html" title="Project" class="tooltip">
                    <i class="fa-solid fa-file-lines"></i>
                    <span class="link hide">Văn bản khoa</span>
                    <!-- <span class="tooltip__content">Văn bản khoa</span> -->
                </a>
                </li>
                <li>
                <a href="admin-common-document.html" title="Performance" class="tooltip">
                    <i class="fa-regular fa-file-lines"></i>
                    <span class="link hide">Văn bản chung</span>
                    <!-- <span class="tooltip__content">Văn bản chung</span> -->
                </a>
                </li>
                <li>
                <!-- <a href="#funds" title="Funds" class="tooltip">
                    <i class="fa-regular fa-folder-open"></i>
                    <span class="link hide">Loại văn bản</span> -->
                    <!-- <span class="tooltip__content">Loại văn bản</span> -->
                <!-- </a> -->
                <a href="admin_user.html" title="Funds" class="tooltip">
                    <i class="fa-solid fa-user"></i>
                    <span class="link hide">Tài khoản</span>
                    <!-- <span class="tooltip__content">Loại văn bản</span> -->
                </a>
                <a href="send-mail.html" title="Funds" class="tooltip">
                    <i class="fa-solid fa-envelope"></i>
                    <span class="link hide">Email</span>
                    <!-- <span class="tooltip__content">Loại văn bản</span> -->
                </a>
                </li>
            </ul>
        </div>
        <div class="sidebar-bottom">
            <!-- <div class="sidebar-links">
                <ul>
                <li>
                    <a href="#help" title="Help" class="tooltip">
                    <img src="assets/help.svg" alt="Help">
                    <span class="link hide">Help</span>
                    <span class="tooltip__content">Help</span>
                    </a>
                </li>
                <li>
                    <a href="#settings" title="Settings" class="tooltip">
                    <img src="assets/settings.svg" alt="Settings">
                    <span class="link hide">Settings</span>
                    <span class="tooltip__content">Settings</span>
                    </a>
                </li>
                </ul>
            </div> -->
            <div class="sidebar__profile">
                <div class="avatar__wrapper">
                <img class="avatar" src="img/avatar-trang-y-nghia.jpeg" alt="Profile">
                <div class="online__status"></div>
                </div>
                <div class="avatar__name hide">
                    <div class="user-name">Admin</div>
                    <div class="email">Admin123@gmail.com</div>
                </div>
                <div class="user-sign"><a href=""><i class="fa-solid fa-right-from-bracket"></i></a></div>

            </div>
        </div>
    </nav>

    
     
    <script src="Script/script-pagination.js"></script>
    <script src="Script/script-modal-addUser.js"></script>
    
</body>
</html>