<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Admin</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link
          href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
          rel="stylesheet"
      >
    <link rel="stylesheet" href="fontawesome-free-6.5.1-web/fontawesome-free-6.5.1-web/css/all.min.css">
    <link rel="stylesheet" href="css/admin/style-admin.css">
    <link rel="stylesheet" href="css/admin/admin-style-trangchu.css">
    <link rel="stylesheet" href="css/admin/admin-table_user.css">
    <link rel="stylesheet" href="css/admin/pagination-style-admin.css">
    <link rel="stylesheet" href="css/admin/modal-add-khoa.css">
    <link rel="stylesheet" href="css/admin/modal-add-loaiVB.css">
    <link rel="stylesheet" href="css/admin/form-style.css">
    
    
    
</head>
<body>
    <div class="main-content-right">
        <div class="content">
            <div class="header-wrapper">
                <div class="header-title">
                    <h2>Tổng hợp</h2>
                </div>
                <!-- <div class="breadcrumb">
                    <ul class="breadcrumb_list">
                      <li class="li-1"><a href='#'>Home</a></li>
                      <li class="li-1"><a href='#'>Blog</a></li>
                      <li><a href=''>Post</a></li>
                    </ul>
                  </div> -->
            </div>

            <div class="card-container">
                <div class="card-wrapper">
                    <div class="card-1 light-red ">
                        <div class="card-header">
                            <div class="amount">
                                <span class="title-card">Văn bản chung</span>
                                <span class="amount-value">50</span>
                            </div>
                            <i class="fa-regular fa-file-lines icon"></i>
                        </div>
                    </div>

                    <div class="card-1 light-purple">
                        <div class="card-header">
                            <div class="amount">
                                <span class="title-card">Văn bản khoa</span>
                                <span class="amount-value">50</span>
                            </div>
                            <i class="fa-solid fa-file-lines icon dark-purple"></i>
                            
                        </div>
                    </div>

                    <div class="card-1 light-green">
                        <div class="card-header">
                            <div class="amount">
                                <span class="title-card">Loại văn bản</span>
                                <span class="amount-value">50</span>
                            </div>
                            <i class="fa-regular fa-folder-open icon dark-green"></i>
                            
                        </div>
                    </div>

                    <div class="card-1 light-blue">
                        <div class="card-header">
                            <div class="amount">
                                <span class="title-card">Tài khoản</span>
                                <span class="amount-value">50</span>
                            </div>
                            <i class="fa-solid fa-user icon dark-blue"></i>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="header-wrapper m-top-2">
                <div class="header-title">
                    <h2>Quản lý khoa</h2>
                </div>
                <!-- <div class="breadcrumb">
                    <ul class="breadcrumb_list">
                      <li class="li-1"><a href='#'>Home</a></li>
                      <li class="li-1"><a href='#'>Blog</a></li>
                      <li><a href=''>Post</a></li>
                    </ul>
                  </div> -->
            </div>

            <div class="card-container">
                <div class="main-table">
                    <div class="table">
                        <div class="table_header">
                                    <button type="button" id="open_modal_khoa" class="add_new">
                                        + Thêm khoa
                                    </button>
                                
                                    <!--Modal start-->
                                    <div class="modal-container-addKhoa" id="modal-container-addKhoa">
                                        <div class="modal-addKhoa">
                                            <div class="modal-header-addKhoa">
                                                <h2>Thêm khoa</h2>
                                                <i class="fa fa-close" id="close-icon-addKhoa"></i>
                                            </div>
                                            <div class="modal-content-addKhoa">
                                                <div class="admin-add-form">
                                                    <form action="" method="post">
                                                        <input type="text" name="" id="" placeholder="Nhập khoa mới" class="box">                                                                                                                                                                                              
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="modal-footer-addKhoa">
                                                <button type="submit" class="btn-confirm-addKhoa" id="confirm_modal_addKhoa">Xác nhận</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Modal end-->        
                        </div>
                        <div class="table-section">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Số thứ tự</th>
                                        <th>Tên khoa</th>                                                      
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Công nghệ thông tin</td>
                                        <td>
                                            <button type="button" id="open_modal"><a href=""></a><i class="fa-solid fa-pen-to-square"></i></button>
                                            <button><i class="fa-solid fa-trash"></i></button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>1</td>
                                        <td>Công nghệ thông tin</td>
                                        <td>
                                            <button type="button" id="open_modal"><a href=""></a><i class="fa-solid fa-pen-to-square"></i></button>
                                            <button><i class="fa-solid fa-trash"></i></button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>1</td>
                                        <td>Công nghệ thông tin</td>
                                        <td>
                                            <button type="button" id="open_modal"><a href=""></a><i class="fa-solid fa-pen-to-square"></i></button>
                                            <button><i class="fa-solid fa-trash"></i></button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>1</td>
                                        <td>Công nghệ thông tin</td>
                                        <td>
                                            <button type="button" id="open_modal"><a href=""></a><i class="fa-solid fa-pen-to-square"></i></button>
                                            <button><i class="fa-solid fa-trash"></i></button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>1</td>
                                        <td>Công nghệ thông tin</td>
                                        <td>
                                            <button type="button" id="open_modal"><a href=""></a><i class="fa-solid fa-pen-to-square"></i></button>
                                            <button><i class="fa-solid fa-trash"></i></button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>1</td>
                                        <td>Công nghệ thông tin</td>
                                        <td>
                                            <button type="button" id="open_modal"><a href=""></a><i class="fa-solid fa-pen-to-square"></i></button>
                                            <button><i class="fa-solid fa-trash"></i></button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>1</td>
                                        <td>Công nghệ thông tin</td>
                                        <td>
                                            <button type="button" id="open_modal"><a href=""></a><i class="fa-solid fa-pen-to-square"></i></button>
                                            <button><i class="fa-solid fa-trash"></i></button>
                                        </td>
                                    </tr>

                                    
                                </tbody>
                                
                            </table>
                        </div>
                        <div class="Pagination">
                            <button class="btn1" onclick="backBtn()"> <img src="img/448-arrow.png" alt=""> Trước</button>
                            <ul class="pagination-ul">
                                <li class="link active" value="1" onclick="activeLink()">1</li>
                                <li class="link" value="2" onclick="activeLink()">2</li>
                                <li class="link" value="3" onclick="activeLink()">3</li>
                                <li class="link" value="4" onclick="activeLink()">4</li>
                                <li class="link" value="5" onclick="activeLink()">5</li>
                                <li class="link" value="6" onclick="activeLink()">6</li>
                            </ul>
                            <button class="btn2" onclick="nextBtn()">Sau <img src="img/448-arrow.png" alt=""></button>
                        </div>  
                    </div>     
                </div>
            </div>

            <div class="header-wrapper m-top-2">
                <div class="header-title">
                    <h2>Loại văn bản</h2>
                </div>
                <!-- <div class="breadcrumb">
                    <ul class="breadcrumb_list">
                      <li class="li-1"><a href='#'>Home</a></li>
                      <li class="li-1"><a href='#'>Blog</a></li>
                      <li><a href=''>Post</a></li>
                    </ul>
                  </div> -->
            </div>

            <div class="card-container">
                <div class="main-table">
                    <div class="table">
                        <div class="table_header">
                                    <button type="button" id="open_modal_loaiVB" class="add_new">
                                        + Thêm loại văn bản
                                    </button>
                                
                                    <!--Modal start-->
                                    <div class="modal-container-addLoaiVB" id="modal-container-loaiVB">
                                        <div class="modal-addLoaiVB">
                                            <div class="modal-header-addLoaiVB">
                                                <h2>Thêm loại văn bản</h2>
                                                <i class="fa fa-close" id="close-icon-addLoaiVB"></i>
                                            </div>
                                            <div class="modal-content-addLoaiVB">
                                                <div class="admin-add-form">
                                                    <form action="" method="post">
                                                        <input type="text" name="" id="" placeholder="Nhập loại văn bản mới" class="box">                                                                                                                                                           
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="modal-footer-addLoaiVB">
                                                <button type="submit" class="btn-confirm-addLoaiVB" id="confirm_modal_addLoaiVB">Xác nhận</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Modal end-->        
                        </div>
                        <div class="table-section">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Số thứ tự</th>
                                        <th>Loại văn bản</th>                                                                    
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Tin tức</td>
                                        <td>
                                            <button type="button" id="open_modal"><a href=""></a><i class="fa-solid fa-pen-to-square"></i></button>
                                            <button><i class="fa-solid fa-trash"></i></button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>1</td>
                                        <td>Sự kiện</td>
                                        <td>
                                            <button type="button" id="open_modal"><a href=""></a><i class="fa-solid fa-pen-to-square"></i></button>
                                            <button><i class="fa-solid fa-trash"></i></button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>1</td>
                                        <td>Tin tức</td>
                                        <td>
                                            <button type="button" id="open_modal"><a href=""></a><i class="fa-solid fa-pen-to-square"></i></button>
                                            <button><i class="fa-solid fa-trash"></i></button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>1</td>
                                        <td>Tin tức</td>
                                        <td>
                                            <button type="button" id="open_modal"><a href=""></a><i class="fa-solid fa-pen-to-square"></i></button>
                                            <button><i class="fa-solid fa-trash"></i></button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>1</td>
                                        <td>Tin tức</td>
                                        <td>
                                            <button type="button" id="open_modal"><a href=""></a><i class="fa-solid fa-pen-to-square"></i></button>
                                            <button><i class="fa-solid fa-trash"></i></button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>1</td>
                                        <td>Tin tức</td>
                                        <td>
                                            <button type="button" id="open_modal"><a href=""></a><i class="fa-solid fa-pen-to-square"></i></button>
                                            <button><i class="fa-solid fa-trash"></i></button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>1</td>
                                        <td>Tin tức</td>
                                        <td>
                                            <button type="button" id="open_modal"><a href=""></a><i class="fa-solid fa-pen-to-square"></i></button>
                                            <button><i class="fa-solid fa-trash"></i></button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>1</td>
                                        <td>Tin tức</td>
                                        <td>
                                            <button type="button" id="open_modal"><a href=""></a><i class="fa-solid fa-pen-to-square"></i></button>
                                            <button><i class="fa-solid fa-trash"></i></button>
                                        </td>
                                    </tr>

                                   

                                    
                                </tbody>
                                
                            </table>
                        </div>
                        <div class="Pagination">
                            <button class="btn1" onclick="backBtn()"> <img src="img/448-arrow.png" alt=""> Trước</button>
                            <ul class="pagination-ul">
                                <li class="link active" value="1" onclick="activeLink()">1</li>
                                <li class="link" value="2" onclick="activeLink()">2</li>
                                <li class="link" value="3" onclick="activeLink()">3</li>
                                <li class="link" value="4" onclick="activeLink()">4</li>
                                <li class="link" value="5" onclick="activeLink()">5</li>
                                <li class="link" value="6" onclick="activeLink()">6</li>
                            </ul>
                            <button class="btn2" onclick="nextBtn()">Sau <img src="img/448-arrow.png" alt=""></button>
                        </div>  
                    </div>     
                </div>
            </div>
        </div>
    </div>

    <nav>
        <div class="sidebar-top">
            <a href="admin_layout.html" class="logo__wrapper">
            <img src="img/logo_school_2.png" alt="Logo" class="logo">
            <h1 class="hide">Trang quản lý</h1>
            </a>
            <!-- <div class="expand-btn">
            <img src="img/chevron.svg" alt="Chevron">
            </div> -->
        </div>
        <div class="sidebar-links">
            <ul>
                <li>
                <a href="admin-trangchu.html" title="Dashboard" class="tooltip">
                    <i class="fa-solid fa-house"></i>
                    <span class="link hide">Trang chủ</span>
                    <!-- <span class="tooltip__content">Dashboard</span> -->
                </a>
                </li>
                <li>
                <a href="admin-deparment-doc.html" title="Project" class="tooltip">
                    <i class="fa-solid fa-file-lines"></i>
                    <span class="link hide">Văn bản khoa</span>
                    <!-- <span class="tooltip__content">Văn bản khoa</span> -->
                </a>
                </li>
                <li>
                <a href="admin-common-document.html" title="Performance" class="tooltip">
                    <i class="fa-regular fa-file-lines"></i>
                    <span class="link hide">Văn bản chung</span>
                    <!-- <span class="tooltip__content">Văn bản chung</span> -->
                </a>
                </li>
                <li>
                <!-- <a href="#funds" title="Funds" class="tooltip">
                    <i class="fa-regular fa-folder-open"></i>
                    <span class="link hide">Loại văn bản</span> -->
                    <!-- <span class="tooltip__content">Loại văn bản</span> -->
                <!-- </a> -->
                <a href="admin_user.html" title="Funds" class="tooltip">
                    <i class="fa-solid fa-user"></i>
                    <span class="link hide">Tài khoản</span>
                    <!-- <span class="tooltip__content">Loại văn bản</span> -->
                </a>
                <a href="send-mail.html" title="Funds" class="tooltip">
                    <i class="fa-solid fa-envelope"></i>
                    <span class="link hide">Email</span>
                    <!-- <span class="tooltip__content">Loại văn bản</span> -->
                </a>
                </li>
            </ul>
        </div>
        <div class="sidebar-bottom">
            <!-- <div class="sidebar-links">
                <ul>
                <li>
                    <a href="#help" title="Help" class="tooltip">
                    <img src="assets/help.svg" alt="Help">
                    <span class="link hide">Help</span>
                    <span class="tooltip__content">Help</span>
                    </a>
                </li>
                <li>
                    <a href="#settings" title="Settings" class="tooltip">
                    <img src="assets/settings.svg" alt="Settings">
                    <span class="link hide">Settings</span>
                    <span class="tooltip__content">Settings</span>
                    </a>
                </li>
                </ul>
            </div> -->
            <div class="sidebar__profile">
                <div class="avatar__wrapper">
                <img class="avatar" src="img/avatar-trang-y-nghia.jpeg" alt="Profile">
                <div class="online__status"></div>
                </div>
                <div class="avatar__name hide">
                    <div class="user-name">Admin</div>
                    <div class="email">Admin123@gmail.com</div>
                </div>
                <div class="user-sign"><a href=""><i class="fa-solid fa-right-from-bracket"></i></a></div>

            </div>
        </div>
    </nav>
     
    <script src="Script/script-pagination.js"></script>
    <script src="Script/script-modal-addKhoa.js"></script>
    <script src="Script/script-modal-addLoaiVB.js"></script>
    
</body>
</html>