<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý văn bản</title>
   <link rel="stylesheet" href="css/user/style.css">
   <link rel="stylesheet" href="css/user/pagination-style.css">
   <link rel="stylesheet" href="fontawesome-free-6.5.1-web/fontawesome-free-6.5.1-web/css/all.min.css">
</head>
<body>
    
    <header>
        <div class="box-top">
            <div class="box-center">
                <div class="box-top-left"><i class="fa-solid fa-phone"></i> Liên hệ: 0933.782.768</div>
                <div class="box-top-right">
                    <i class="fa-solid fa-user"></i><a href="admin_layout.html">Đăng nhập</a>
                    
                </div>
            </div>
        </div>

        <div class="box-logo">
            <div class="box-center">
                <img src="img/logo_school.png" alt="">
                <div class="name-school">
                    <a href="index.html">TRƯỜNG ĐẠI HỌC KỸ THUẬT - CÔNG NGHỆ CẦN THƠ</a>
                </div>
            </div>
        </div>
        
    </header>

    <article>
        <div class="box-center">       
            <div class="main-1"> 
                <h1>Danh sách văn bản mới nhất</h1>
                <div class="box-content-1">
                    <div class="document-content">
                        <div class="title"><a href="detail-document.html">Văn bản 1</a></div>

                        <div class="date-post">
                            <span class="block-1"><i class="fa fa-regular fa-clock"></i> Đăng ngày <span>20/3/2024</span></span>
                            <i class="fa fa-solid fa-user-tie"></i> <span>Quản trị viên</span>
                        </div>
                        
                        <p class="text-main-title">Nội dung chính</p>
                        <p class="text-main">   
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                        </p>
                    </div>
                </div>
                <div class="box-content-1">
                    <div class="document-content">
                        <div class="title"><a href="detail-document.html">Văn bản 1</a></div>

                        <div class="date-post">
                            <span class="block-1"><i class="fa fa-regular fa-clock"></i> Đăng ngày <span>20/3/2024</span></span>
                            <i class="fa fa-solid fa-user-tie"></i> <span>Quản trị viên</span>
                        </div>
                        
                        <p class="text-main-title">Nội dung chính</p>
                        <p class="text-main">   
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                        </p>
                    </div>
                </div>
                <div class="box-content-1">
                    <div class="document-content">
                        <div class="title"><a href="detail-document.html">Văn bản 1</a></div>

                        <div class="date-post">
                            <span class="block-1"><i class="fa fa-regular fa-clock"></i> Đăng ngày <span>20/3/2024</span></span>
                            <i class="fa fa-solid fa-user-tie"></i> <span>Quản trị viên</span>
                        </div>
                        
                        <p class="text-main-title">Nội dung chính</p>
                        <p class="text-main">   
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                        </p>
                    </div>
                </div>
                <div class="box-content-1">
                    <div class="document-content">
                        <div class="title"><a href="detail-document.html">Văn bản 1</a></div>

                        <div class="date-post">
                            <span class="block-1"><i class="fa fa-regular fa-clock"></i> Đăng ngày <span>20/3/2024</span></span>
                            <i class="fa fa-solid fa-user-tie"></i> <span>Quản trị viên</span>
                        </div>
                        
                        <p class="text-main-title">Nội dung chính</p>
                        <p class="text-main">   
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                        </p>
                    </div>
                </div>

            <div class="Pagination">
                <button class="btn1" onclick="backBtn()"> <img src="img/448-arrow.png" alt=""> Trước</button>
                <ul>
                    <li class="link active" value="1" onclick="activeLink()">1</li>
                    <li class="link" value="2" onclick="activeLink()">2</li>
                    <li class="link" value="3" onclick="activeLink()">3</li>
                    <li class="link" value="4" onclick="activeLink()">4</li>
                    <li class="link" value="5" onclick="activeLink()">5</li>
                    <li class="link" value="6" onclick="activeLink()">6</li>
                </ul>
                <button class="btn2" onclick="nextBtn()">Sau <img src="img/448-arrow.png" alt=""></button>
            </div>
                
            </div>

            <div class="main-2">
                <div class="box-search">
                    <input type="text" placeholder="Tìm kiếm..."> 
                    <a href="">
                        <i class="fas fa-solid fa-magnifying-glass"></i>
                    </a>
                </div>
                
                <div class="box-content-2">
                    <h1>Danh mục</h1>
                    <div class="block-categories">
                        <div class="title-block-categories">
                            <span>Văn bản thuộc phòng</span>
                        </div>

                        <div class="text-categories">
                            <a href="common-document.html">Đảng</a>
                        </div>
                        <div class="text-categories">
                            <a href="">Hành chính</a>
                        </div>
                        <div class="text-categories">
                            <a href="">Đoàn</a>
                        </div>
                    </div>

                    <div class="block-categories">
                        <div class="title-block-categories">
                            <span>Văn bản thuộc khoa</span>
                        </div>
                        <div class="text-categories">
                             <a href="">Công nghệ thông tin</a>
                        </div>
                        <div class="text-categories">
                             <a href="">Công nghệ thực phẩm</a>
                        </div>
                        <div class="text-categories">
                             <a href="">Ngôn ngữ Anh</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <footer>
        <div class="row">
            <div class="box-center-2">
                <div class="box-footer-1 color-white">
                    <h4>FOLLOW US</h4>
                    <div class="box-icon-footer">
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                    </div>
                    
                </div>
                <div class="box-footer-2 color-white">
                    <h4>ABOUT US</h4>
                    <div class="add "><a href="">Giới thiệu</a></div>
                    <div class="add "><a href="">Điều khoản sử dụng website</a></div>
                    <div class="add "><a href="">Bảo mật thông tin khách hàng</a></div>
                </div>
                <div class="box-footer-3 color-white">
                    <h4>CONTACT US</h4>
                    <div class="add-2">
                        <div class="box-add-1">
                            <span>
                                <i class="fa-solid fa-location-dot"></i>
                            </span>
                            <p> Địa chỉ: 56 Nguyễn Văn Cừ, Quận Ninh Kiều, Thành phố Cần Thơ.</p>
                        </div>
                    
                        <div class="box-add-2">
                            <span>
                                <i class="fa-solid fa-envelope"></i>
                            </span>
                            <p> Email: phonghanhchinh@ctuet.edu.vn.</p>
                        </div>

                        <div class="box-add-2">
                            <span>
                                <i class="fa-solid fa-phone"></i>
                            </span>
                            <p> Liên hệ:  0933.782.768</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row-2 text-center color-white">
            Copyright © 2024 Bản quyền thuộc về hệ thống quản lý văn bản
        </div>
    </footer>

    <script src="Script/script-pagination.js"></script>
</body>
</html>