<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style_login.css">
    <link rel="stylesheet" href="bootstrap-5.3.2-dist/bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="fontawesome-free-6.5.1-web/fontawesome-free-6.5.1-web/css/all.min.css">
    <title>Login</title>
</head>
<body>
  <div class="wrapper">
    <div class="container main">
        <div class="row">
            <div class="col-md-6 side-image">         
                <!-------------      image     ------------->  
                <!-- <img src="img/document-logo.jpg" alt=""> -->
            </div>

            <div class="col-md-6 right">
                <div class="input-box"> 
                   <header>Hệ thống quản lí văn bản</header>
                   <form action="" method="POST">
                        <div class="input-field">
                                <input type="text" class="input" name="TaiKhoan" id="username" required="" autocomplete="off">
                                <label for="username">Tài khoản</label> 
                            </div> 
                        <div class="input-field">
                                <input type="password" class="input" name="MatKhau" id="pass" required="">
                                <label for="pass">Mật khẩu</label>
                            </div> 
                        
                        <div class="input-field">
                                <input type="submit" class="submit" value="Đăng nhập">  
                        </div> 
                        
                        <!-- <?php if (isset($_SESSION['loi'])):?>
                        <div class="alert alert-danger mt-4" role="alert">
                        <?= $_SESSION['loi']?>
                        </div>
                        <?php endif; unset($_SESSION['loi']);?> -->
                        
                    </form>
                   <div class="signin">
                    <!-- <span>Already have an account? <a href="#">Log in here</a></span> -->
                   </div>
                </div>  
                
            </div>
        </div> 
        
    </div>
</div>
        
    <!-- <script src="https://kit.fontawesome.com/a1bc52aff1.js" crossorigin="anonymous"></script> -->
</body>
</html>