<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Admin</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link
          href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
          rel="stylesheet"
      >
    <link rel="stylesheet" href="fontawesome-free-6.5.1-web/fontawesome-free-6.5.1-web/css/all.min.css">
    <link rel="stylesheet" href="css/admin/style-admin.css">
    <link rel="stylesheet" href="css/admin/admin-send-mail.css">
</head>
<body>



    <div class="main-content-right">
        <div class="content">
            <div class="card-container">
                
                <form action="" method="post" class="frm-contact">
                    <div class="img-box">
                        <img src="img/mail-gmail-com-gia-re_657105.png" alt="" class="logo">
                    </div>
                    <input type="email" multiple class="box" placeholder="Nhập mail cần gửi"/> 
                    
                    <input type="text" class="box" placeholder="Nhập tiêu đề"> 
                    
                    <textarea name="" id="" cols="30" rows="10" class="box" placeholder="Nhập nội dung"></textarea>
                </form>
                <input type="submit" value="Gửi">
            </div> 
        </div>
    </div>
    
    <nav>
        <div class="sidebar-top">
            <a href="admin-trangchu.html" class="logo__wrapper">
            <img src="img/logo_school_2.png" alt="Logo" class="logo">
            <h1 class="hide">Trang quản lý</h1>
            </a>
            <!-- <div class="expand-btn">
            <img src="img/chevron.svg" alt="Chevron">
            </div> -->
        </div>
        <div class="sidebar-links">
            <ul>
                <li>
                <a href="admin-trangchu.html" title="Dashboard" class="tooltip">
                    <i class="fa-solid fa-house"></i>
                    <span class="link hide">Trang chủ</span>
                    <!-- <span class="tooltip__content">Dashboard</span> -->
                </a>
                </li>
                <li>
                <a href="#project" title="Project" class="tooltip">
                    <i class="fa-solid fa-file-lines"></i>
                    <span class="link hide">Văn bản khoa</span>
                    <!-- <span class="tooltip__content">Văn bản khoa</span> -->
                </a>
                </li>
                <li>
                <a href="admin-common-document.html" class="tooltip">
                    <i class="fa-regular fa-file-lines"></i>
                    <span class="link hide">Văn bản chung</span>
                    <!-- <span class="tooltip__content">Văn bản chung</span> -->
                </a>
                </li>
                <li>
                <!-- <a href="#funds" title="Funds" class="tooltip">
                    <i class="fa-regular fa-folder-open"></i>
                    <span class="link hide">Loại văn bản</span> -->
                    <!-- <span class="tooltip__content">Loại văn bản</span> -->
                <!-- </a> -->
                <a href="#funds" title="Funds" class="tooltip">
                    <i class="fa-solid fa-user"></i>
                    <span class="link hide">Tài khoản</span>
                    <!-- <span class="tooltip__content">Loại văn bản</span> -->
                </a>
                <a href="#funds" title="Funds" class="tooltip">
                    <i class="fa-solid fa-envelope"></i>
                    <span class="link hide">Email</span>
                    <!-- <span class="tooltip__content">Loại văn bản</span> -->
                </a>
                </li>
            </ul>
        </div>
        <div class="sidebar-bottom">
            <!-- <div class="sidebar-links">
                <ul>
                <li>
                    <a href="#help" title="Help" class="tooltip">
                    <img src="assets/help.svg" alt="Help">
                    <span class="link hide">Help</span>
                    <span class="tooltip__content">Help</span>
                    </a>
                </li>
                <li>
                    <a href="#settings" title="Settings" class="tooltip">
                    <img src="assets/settings.svg" alt="Settings">
                    <span class="link hide">Settings</span>
                    <span class="tooltip__content">Settings</span>
                    </a>
                </li>
                </ul>
            </div> -->
            <div class="sidebar__profile">
                <div class="avatar__wrapper">
                <img class="avatar" src="img/avatar-trang-y-nghia.jpeg" alt="Profile">
                <div class="online__status"></div>
                </div>
                <div class="avatar__name hide">
                    <div class="user-name">Admin</div>
                    <div class="email">Admin123@gmail.com</div>
                </div>
                <div class="user-sign"><a href=""><i class="fa-solid fa-right-from-bracket"></i></a></div>

            </div>
        </div>
    </nav>
     
    
    <script src="Script/script.js"></script>
</body>
</html>