.main {
    margin-top: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.box-content .box-result-search{
  height: 50px;
  margin-top: 100px;
  width: 50%;
}
.box-menu {
  height: 150px;
  background-image: url(../../img/img_new/bg4.jpg);
  margin-bottom: 40px;
  
}

.box-menu h1 {
    font-family: 'Muli', Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    color: #2e3192;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 55px;
}

.box-content {
    margin-right: 50px;
    margin-bottom: 50px;
    border: 1px solid #eef1fd;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px 0px;
    
    justify-content: center;
    padding-right: 20px;
}

.box-search {
    float: right;
    height: 20px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: hsl(0, 0%, 100%);
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 134, 201, 0.2);
    width: 300px;
    margin-bottom: 50px;
}
.box-menu box-search h1 {
    float: left;
}

.box-search:hover input {
    width: 270px;
}

.box-search input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}

.box-search a .fas {
    color: #1daf;
    font-size: 18px;
    
}

.form-search-date{
  float: left;
  height: auto;
  margin-top: 5px;
}

.form-search-date .date-start {
  margin-right: 50px;
  width: 250px;
  height: 20px;
  padding: 12px;
  border-radius: 5px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

.date-start:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.date-start:active {
  transform: scale(0.95);
}

.date-start:focus {
  border: 2px solid grey;
}

.form-search-date .date-end {
  margin-right: 50px;
  width: 220px;
  height: 20px;
  padding: 12px;
  border-radius: 5px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

.date-end:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.date-end:active {
  transform: scale(0.95);
}

.date-end:focus {
  border: 2px solid grey;
}

.btn-filter {
  display: inline-block;
  border-radius: 4px;
  background-color: #0D47A1;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 16px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
 
}

.btn-filter span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
 }
 
 .btn-filter span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
 }
 
 .btn-filter:hover span {
  padding-right: 15px;
 }
 
 .btn-filter:hover span:after {
  opacity: 1;
  right: 0;
 }

.error h1 {
  margin-top: 100px;
}

.text-main {
  font-size: 20px;
  display: -webkit-box;
  max-height: 5.2rem;
 -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 3;
  line-height: 1.6rem;
}

.title {
  text-transform: capitalize;
}



.button-6  {
  align-items: center;
  background-color: #1e1a99;
  
 
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  margin-bottom: 20px;
  
  
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.972);
  color: rgb(255, 255, 255);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

