.main-table {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.table {
    width: 100%;
}

/* .table_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(240, 240, 240);
} */

.table_header p {
    color: #000000;
}

.input_search {
    padding: 10px 20px;
    margin: 0 10px;
    outline: none;
    border: 1px solid #0298cf;
    border-radius: 6px;
    
}

.table-section {
    margin-top: 20px;
    height: 550px;
    overflow: auto;
    /* border: 1px solid #eee; */
}

thead th {
    position: sticky;
    top: 0;
    background-color: #c9ddee;
    color: #072a53;
    font-size: 15px;
}

th:nth-child(1) {
    width: 0%;
}

th:nth-child(2) {
    width: 12%;
}

th:nth-child(3) {
    width: 27%;
}

th:nth-child(4) {
    width: 10%;
}

th:nth-child(5) {
    width: 18%;
}

th:nth-child(6) {
    width: 13%;
}

th:nth-child(7) {
    width: 10%;
}

th:nth-child(8) {
    width: 15%;
}



td:nth-child(2), td:nth-child(4), td:nth-child(8) {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    word-break: break-all;
    text-align: center;
    font-size: 15px;
    /* border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd; */
    
}

td:nth-child(1), td:nth-child(3), td:nth-child(5), td:nth-child(6), td:nth-child(7) {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    word-break: keep-all;
    text-align: justify;
    font-size: 15px;
}

th {
    padding: 15px 20px;
    word-break: break-all;
    text-align: center;
    font-size: 15px;
    /* border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd; */
}

td a {
    text-decoration: none;
    color: black;
}

td a:hover {
    text-decoration: underline;
    color: black;
}

tr:nth-child(even) {background-color: #f2f2f2;}

tr:hover td {
    color: #0298cf;
    background-color: #f6f9fc;
}

tr:hover td a {
    color: #0298cf;
    background-color: #f6f9fc;
}

button {
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
    background-color: #0298cf;
}

button:hover {
    background-color: #144e91;
}

.add_new {
    float: right;
}

.add_new a {
    text-decoration: none;
    color: #fff;
}

.btn_search {
    color: #fff;
}

td button:nth-child(1) {
    background-color: #0298cf;
}

td button:nth-child(2) {
    background-color: #f80000;
}


::placeholder {
    color: #0298cf;
}
	